*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background: #666;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#menu{
    display: flex;
}

#menu>ul>a{
    padding: 10px;
}

#menu>ul>a:hover{
    background: rgba(0, 0, 0, .5);
}

h2{
    text-align: center;
}